body{
    background-color:rgb(133, 133, 133);
    padding-top:20px;
}
.pasekup {
    margin: auto;
    width: 700px;
    height: 30px;
    color:black;
    text-align:center;
    line-height:30px;
}
.conter {
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 10px 1px black;
    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    overflow: hidden;
}
.playeroneresult, playertworesult {
    font-size: 0.6cm;
    text-shadow: black 1px 1px 10px ;
    color: white;
}
.pod {
    margin: auto;
    width: 700px;
}
.fajniemasz {
    background-color: rgb(150, 150, 150); 
    width: 330px;
    box-shadow: 0px 0px 10px 1px black;
    padding:10px;
    float:left;
    color:darkgreen;
    text-align:center;
    text-align:center;
}
.fajniemasz2 {
    background-color: rgb(150, 150, 150);
    width: 330px;
    box-shadow: 0px 0px 10px 1px black;
    padding: 10px;
    float: left;
    color: darkred;
    text-align: center;
}
.point {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    position: absolute;
    box-shadow:blue 0px 0px 20px 2px,inset 0px 0px 10px 0px lightblue;
    border-radius:20px;
    x: 0, y: 0;
  
}
.playerone {
    width: 50px;
    height: 50px;
    background-color: darkgreen;
    bottom: -25;
    right: -25;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.1s linear;
    border-radius: 30px;
    x: 0, y: 0;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
}
.playertwo {
    width: 50px;
    height: 50px;
    background-color: darkred;
    top: 25;
    left: 25;
    
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.1s linear;
    border-radius: 30px;
    border: 1px solid black;
    x: 0, y: 0;
    text-align: center;
    line-height: 50px;
}